<h2>{{title}}</h2>
{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
        {{ui-message
          type = 'error'
          closeable = true
          visible = true
          title = "Error occurred"
          message = currentError
        }}
  {{/each}}
{{/if}}
<form class="ui form" role="form">

  <div class="ui grid {{if model.errors.firstName 'error' ''}}">
    <div class="ui two wide column right aligned middle aligned content">
        <label>Адрес:</label>
    </div>
    <div class="ten wide column">
        <span style="color:red">{{model.errors.firstName}}</span>
        {{input type="text" placeholder="(no value)" required=true value=model.address}}
    </div>
  </div>

  <div class="ui grid {{if model.errors.firstName 'error' ''}}">
    <div class="ui two wide column right aligned middle aligned content">
        <label>Описание:</label>
    </div>
    <div class="ten wide column">
        <span style="color:red">{{model.errors.firstName}}</span>
        {{input type="text" placeholder="(no value)" required=true value=model.text}}
    </div>
  </div>
  
  <div class="ten wide column">   
    <div class="ui grid {{if model.errors.suggestion 'error' ''}}">
      <div class="ui two wide column right aligned middle aligned content">
	<label>Выберите тип предложения:</label>
      </div>
    <div class="ten wide column">
      {{flexberry-lookup
        choose='showLookupDialog'
        remove='removeLookupValue'
        value=model.type.name
        relationName='type'
        projection='SuggestionTypeL'
        title='Тип предложения'
        readonly=readonly
        limitFunction=lookupLimitFunction
        class=(concat 'sixteen wide ' (if model.errors.type 'error' ''))
      }}
      {{flexberry-validationmessage error=model.errors.type}}
    </div>
  </div>
</div>
  
    <button type="submit" class="ui primary button" {{action 'save'}}>Сохранить</button>

</form>





