<h3>{{title}} - Добавление типа предложения</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
    type='error'
    closeable=true
    visible=true
    title='Error occurred'
    message=currentError
    }}
  {{/each}}
{{/if}}

<form class="ui form flexberry-horizontal-form" role="form">
	<div class="field">
	<div class="flexberry-edit-panel">
		{{#unless readonly}}
		<button type="submit" class="ui positive button" {{action 'save'}}>Save</button>
		{{#unless model.isNew}}
			<button type="submit" class="ui negative button" {{action 'delete'}}>Delete</button>
		{{/unless}}
		{{/unless}}
		<button type="submit" class="ui button" {{action 'close'}}>Close</button>
	</div>
	</div>
  
	<div class="inline fields">
		{{flexberry-field
		placeholder='(no value)'
		readonly=readonly
		required=true
		value=model.name
		label='Название типа'
		class=(concat 'sixteen wide ' (if model.errors.name 'error' ''))
		}}
		{{flexberry-validationmessage error=model.errors.name pointing='left pointing'}}
	</div>
	
	<div class="inline fields">
		{{flexberry-checkbox
			label='Модерируемый'
			readonly=readonly
		}}
	</div>

</form>

